$drauzio: #f9b12b;
$doencas-e-sintomas: #0088a1;
$doencas-do-cotidiano: #db372c;
$mulher: #575756;
$pediatria: #901e6a;
$idosos: #9d9d9c;
$fake-news: #019650;
$tabagismo: #f9b12b;
$podcasts: #901e6a;
$genericos: #672a78;
$videos: #db372c;
